body {
	width: 100%;
	font-size:20px;
	color:#212529;
	font-family:Lora,'Times New Roman',serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
	background-color: #CFCFCF;
}

.header {
  vertical-align: middle;
  padding: 70px 0;
}

.header h2 {
  font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 50px;
  color: #212529;
  text-align: center;
  font-weight: 600;
  position: relative;
  text-transform:uppercase;
}

.title-2 h3 {
	color: #212529;
	font-weight: bold;
	text-transform:uppercase;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.title-2 hr {
	border: 4px solid;
    border-color: #556877;
	border-radius: 5px;
	width: 80px;
	margin: 0px;
}

.title {
	padding-bottom: 25px;
	font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.title h3 {
	color: #212529;
	font-weight: bold;
	text-transform:uppercase;
	padding-top: 15px;
	padding-bottom: 50px;
	font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.title hr {
	border: 4px solid;
    border-color: #556877;
	border-radius: 5px;
	width: 80px;
	margin: 0px;
}

.text p {
	font-size: 18px;
	font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}

.text {
	padding-bottom: 25px;
}

.btn {
	font-size:14px;
	font-weight:800;
	padding:15px 25px;
	letter-spacing:1px;
	text-transform:uppercase;
	border-radius:10px;
	font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	background-color: #0085a1;
	border-color: #0085a1;
}

.btn:hover {
	font-size:14px;
	font-weight:800;
	padding:15px 25px;
	letter-spacing:1px;
	text-transform:uppercase;
	border-radius:10px;
	font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	background-color: #00657b;
	border-color: #00657b;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
}